<ng-container [ngSwitch]='name'>
  <svg *ngSwitchCase="'book-outline'" xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'>
    <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'
          d='M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0 1 16 16v288a16 16 0 0 1-16 16c-128 0-177.45 25.81-208 64c-30.37-38-80-64-208-64c-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0 1 16-16c131.57.59 192 32.84 208 96m0 0v288' />
  </svg>
  <svg *ngSwitchCase="'library-outline'" xmlns='http://www.w3.org/2000/svg' width='512' height='512'
       viewBox='0 0 512 512'>
    <rect width='64' height='368' x='32' y='96' fill='none' stroke='currentColor' stroke-linejoin='round'
          stroke-width='32' rx='16' ry='16' />
    <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'
          d='M112 224h128M112 400h128' />
    <rect width='128' height='304' x='112' y='160' fill='none' stroke='currentColor' stroke-linejoin='round'
          stroke-width='32' rx='16' ry='16' />
    <rect width='96' height='416' x='256' y='48' fill='none' stroke='currentColor' stroke-linejoin='round'
          stroke-width='32' rx='16' ry='16' />
    <path fill='none' stroke='currentColor' stroke-linejoin='round' stroke-width='32'
          d='m422.46 96.11l-40.4 4.25c-11.12 1.17-19.18 11.57-17.93 23.1l34.92 321.59c1.26 11.53 11.37 20 22.49 18.84l40.4-4.25c11.12-1.17 19.18-11.57 17.93-23.1L445 115c-1.31-11.58-11.42-20.06-22.54-18.89Z' />
  </svg>
  <svg *ngSwitchCase="'credit-card-outline'" xmlns='http://www.w3.org/2000/svg' width='24' height='24'
       viewBox='0 0 24 24'>
    <path fill='currentColor'
          d='M22 6v12q0 .825-.587 1.413T20 20H4q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6M4 8h16V6H4zm0 4v6h16v-6zm0 6V6z' />
  </svg>
  <svg *ngSwitchCase="'message'" xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'>
    <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
          d='M8 9h8m-8 4h6m4-9a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3h-5l-5 3v-3H6a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3z' />
  </svg>
  <svg *ngSwitchCase="'open-line'" xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'>
    <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
          d='M10 4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-4m-8-2l8-8m0 0v5m0-5h-5' />
  </svg>
</ng-container>
