<div class='billing-card'>
  <div class='billing-card__content'>
    <h1 class='billing-card__title'>Payment successful! 🎉</h1>

    <img class='billing-card__img' src='assets/icons/payment-1.svg' alt='Payment'>

    <p class='billing-card__text'>✨ Great News! Your Payment Went Through Successfully! 😎</p>

    <p class='billing-card__text'>Congratulations! Now you can learn a variety of languages with Wordy without limits.
      Thank you for choosing us! We're here to make your experience extraordinary. 🌍🚀</p>
  </div>
</div>
