<div class='container'>

  <div class='langs'>
    <div class='langs__item'>
      <h4>{{'COMPONENTS.VOCABULARY.LANG_I_LEARN' | translate}}</h4>
      <mat-form-field>
        <mat-select [value]='learnLang' (selectionChange)='changeLearnLang($event)'>
          <mat-option *ngFor='let lang of learnLangs' [value]='lang.code'>
            {{currentLang ? lang.localize[currentLang] : null}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class='langs__item'>
      <h4>{{'COMPONENTS.VOCABULARY.MY_LANG' | translate}}</h4>
      <mat-form-field>
        <mat-select [value]='myLang' (selectionChange)='changeMyLang($event)'>
          <mat-option *ngFor='let lang of myLangs' [value]='lang.code'>
            {{currentLang ? lang.localize[currentLang] : null}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class='searchField'>
      <mat-form-field>
        <mat-label>
          {{'TEXT.SEARCH' | translate}}
        </mat-label>
        <input
          #searchInput
          matInput
          placeholder=''
          value=''
          (input)='search($event)'
        >
      </mat-form-field>
    </div>
  </div>

  <div class='alphabet'>
    <mat-button-toggle-group
      #group='matButtonToggleGroup'
      name='fontStyle'
      aria-label='Font Style'
      (change)='selectLetter($event)'
      (click)='clickLetter()'
    >
      <mat-button-toggle *ngFor='let item of alphabets[learnLang]' [value]='item'>{{item}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <app-spinner *ngIf='loading'></app-spinner>

  <div [hidden]='loading' class='table-wrapper'>
    <table
      mat-table
      [dataSource]='urlsLibraryItems'
      class='custom-table mat-elevation-z8'
    >

      <ng-container matColumnDef='url'>
        <th mat-header-cell *matHeaderCellDef> {{'COMPONENTS.URLS_LIBRARY.URLS' | translate}} </th>
        <td mat-cell *matCellDef='let el'>
          <app-link-wrapper linkType='url' urlTarget='_blank' [urlLink]='el?.url' [underline]='true'>
            {{el?.url}}
          </app-link-wrapper>
        </td>
        <td mat-footer-cell *matFooterCellDef [attr.colspan]='displayedItems.length'>
          <span class='noItems'>{{'COMPONENTS.URLS_LIBRARY.NO_ITEMS' | translate}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef='enabled'>
        <th mat-header-cell *matHeaderCellDef> {{'COMPONENTS.URLS_LIBRARY.TRANSLATION' | translate}} </th>
        <td mat-cell *matCellDef='let el'>
          <div class='translations'>
            <mat-checkbox
              class='tableCheckbox'
              [ngClass]="{'cursor-not-allowed': !isUserSubscriptionActive}"
              [checked]='el.enabled'
              [disabled]='isBlockUi || !isUserSubscriptionActive'
              (change)='toggleEnabled($event, el.id)'
            ></mat-checkbox>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef='actions'>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef='let el'>
          <div class='actions'>
            <button
              class='actions__btn'
              [ngClass]="{'cursor-not-allowed': !isUserSubscriptionActive}"
              mat-icon-button
              aria-label='Button to remove a URL from the URLs library'
              [disabled]='!isUserSubscriptionActive'
              (click)='openRemoveModal(el)'
            >
              <mat-icon class='actions__icon'>delete_outline</mat-icon>
            </button>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef='displayedItems'></tr>
      <tr mat-row *matRowDef='let row; columns: displayedItems;'></tr>
      <tr mat-footer-row *matFooterRowDef='displayedItems'
          [style.display]="!urlsLibraryItems.length ? 'table-row' : 'none'"></tr>

    </table>

    <div class='paginator' [hidden]='hidePagination'>
      <mat-paginator
        aria-label='Select page of URLs'
        [pageSizeOptions]='paginationOptions.pageSizeOptions'
        [pageIndex]='paginationOptions.pageIndex'
        [length]='paginationOptions.length'
        [pageSize]='paginationOptions.pageSize'
        [disabled]='paginationOptions.disabled'
        [showFirstLastButtons]='paginationOptions.showFirstLastButtons'
        [hidePageSize]='paginationOptions.hidePageSize'
        (page)='paginationChange($event)'
      ></mat-paginator>
    </div>
  </div>
</div>
