<div class='billing-card'>
  <div class='billing-card__content'>
    <h1 class='billing-card__title'>Payment failed! 😭</h1>

    <img class='billing-card__img' src='assets/icons/sad-1.svg' alt=''>

    <p class='billing-card__text'>🛠️ Oh no! It looks like something went wrong during checkout. 💳</p>

    <p class='billing-card__text'>We are very sorry, but without payment you will not be able to use our service. If you
      cannot make the payment, contact us through the feedback form and we will try to help you. 📧🚀</p>
  </div>
</div>
