:host {
  flex: 1;
  display: flex;
}

.auth {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authBox {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 30px;
  box-sizing: border-box;
}

.authForm {
  &__title {
    text-align: left;
    color: var(--mainFontColor);
    font-weight: 500;
    font-size: 30px;
  }

  &__input {
    --backgroundColor: transparent;
    display: block;
    margin-bottom: 15px;
  }

  &__btn {
    width: 100%;
    height: 50px;
  }

  &__bottomText {
    color: var(--secondFontColor);
    cursor: pointer;
    text-align: center;
    margin: 15px 0 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
